table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    border-width: medium;
    width: 100px;
    height: 80px;
    text-align: center;
}