header {
    display: flex;
    flex-wrap: wrap;
    background-color: #7F1A15;
    border-bottom: 20px solid #FEA8A8;
    align-items: baseline;
}

header>a {
    padding: 10px;
    border-left: 1px solid #AA3E38;
    border-right: 1px solid #AA3E38;
    border-bottom: 1px solid #AA3E38;
    text-decoration: none;
    cursor: pointer;
    color: #FFAAAA;
}

header>a:hover {
    background-color: #D7736E;
    color: #330300;
}

header>img {
    margin-right: 50px;
}

@media(max-width: 1000px) {
    header {
        justify-content: start;
    }
}

@media(min-width: 1000px) {
    header {
        justify-content: center;
    }
}